#wrapper {
    display: grid;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    grid-template-areas:
        "n n n n n n"
        "h h h h h h"
        "m m m m m m"
        "m m m m m m"
        "f f f f f f";
    background-color: black;
    background-size: 100% 100%;
}

#n {
    grid-area: n;
    padding: 20px;
    color: white;
    border-bottom: 1px solid white;
    font-size: larger;
    justify-content: space-evenly;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#h {
    grid-area: h;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 10vh;
}

#m {
    grid-area: m;
    color: white;
    padding: 10vh;
    padding-top: 10vh;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding: 1rem;
    border-bottom: 0.5px solid rgb(80, 80, 80);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.milkyway {
    display: flex;
    align-items: flex-start;
    margin-top: 10vh;
}

.milkytext {
    height: auto;
    margin-top: 12vh;
    margin-left: 7vh;
}

#sidemilkyway { 
margin-left: 45vh;
}

.sagittarius-section {
    display: flex;
    align-items: flex-start;
    padding-top: 10vh;
}

.sagittarius-section img {
    height: auto;
}

.moon {
    display: flex;
    align-items: flex-start;
    height: auto;
    margin-top: 40vh;
}


