#wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-areas:
        "n n n n n n"
        "h h h h h h"
        "m m m m m m"
        "m m m m m m"
        "f f f f f f";
    /*background-image: url("/img/spacebackground.jpg");*/
    background-color: black;
    background-size: 100% 100%;
}

#n {
    grid-area: n;
    padding: 30px;
    color: white;
    border-bottom: 2px solid white;
    font-family: sans-serif;
    font-weight:bold;
    font-size: larger;
    justify-content: space-evenly;
    display: flex;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#h {
    grid-area: h;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 10vh;
}

#m {
    grid-area: m;
    color: white;
    padding: 10vh;
    padding-top: 10vh;
    font-family: sans-serif;
}